html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
:root{
  --font: 24px;
}
.navbar1{
  display: flex;
  justify-content:space-between;
  background-color: black;
  height: 88px;
  width: 100%;

}
.svg1{
  height: 80px;
  width: 230px;
  margin-top: 20px;
  margin-left: 6.25rem;
}
/* .abstract-logo-mark{

} */
.abstract-logo-wordmark{
  background-color: white;
  fill: white;
}
/* .navkiri{

} */
.help-center{
  color: white;
  font-size: var(--font);
  text-decoration: none;
  margin-top: 600px ;
  
}
.navkanan{
 
  margin: 20px 10% 0 0;
}
.sub{
  font-size: var(--font);
  color: white;
  padding: 10px ;
  background-color: #191A1B;
  border: 1px solid white;
  border-radius: 10px;
  
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.sign{
  font-size: var(--font);
  color: white;
  background-color: #4C5FD5;
  border-radius: 10px;
  padding: 5px 20px;
  border: none;
  margin-left: 12px;
}
/* konten */

.konten-search{
  background-color:#dadbf1;
  height: 396.6px;
}
.container-search{
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;

}
.how-can-we-help{
  margin-top: 5%;
  font-size: 80px;
  font-family: 'GT America Standard', sans-serif;
  height: fit-content;
}
.search-bar{
  width: 50%;
  padding-bottom: 35px;
  border: 1px solid blue;
  border-radius: 3px;
  background-color: white;  

}
.search{
  position: relative;
  top: 17px;
  border: none;
  left: 16px;
  width: 95%;
  outline: none;
  height: 4vh ;
  font-size: 1.3rem;
  word-wrap: break-word;

}
.right-arrow{
  position: relative;
  right: 25px;
  top: 15px;
}
/* footer */

.footer{
  height: 402px;
  background-color: #000;
  color: white;
  grid-template-rows: repeat(2, 50%);

}
.footer-layout{
  display: grid;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(5, 20%);
  padding-top: 40px;
  width: 80%;
  margin-left: 6.5rem;
  /* padding-bottom: 40px; */
}
/* .footer-container{
  
} */
.footer-link{
  text-decoration: none;
  color: white;
}
.footer-container-down{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  
}
.footer-container-lower{
  display: flex;
  grid-column-start: 5;
  flex-direction: column; 
}
.footer-link-lower{
  text-decoration: none;
  color: white;
  
}
.hitam{
  color: #000;
}

/* main */
.konten-utama{
margin-top: 7rem;
/* background-color: #4C5FD5; */
  /* height: 854px; */


}
.konten-pilihan{
  /* height: 854px; */
  display: flex;
  /* background-color: wheat; */
  justify-content: space-between;
  width: 80%;
  margin-left:10% ;
  flex-wrap: wrap;
}
.konten-link{
  display: flex;
  /* background-color: wheat; */
  height: 200px;
  width: 50%;

}
.text{
  margin-left: 10px;
}
/* .konten-link2{
  width: 40%;
} */

@media screen and (max-width:1024px){
 
  .search-bar{
    padding-bottom: 0px;
  }
  .right-arrow{
    left:450px;
    top: -7px;
  }
  .konten-pilihan{
    width: 80%;
  }
  .konten-link{
    /* background-color: wheat; */
    width: 50%;
    height: 260px;
  }
  .search{
    top:25px;
  }

  img{
    width: 50px;
    height: 50px;
  }
  /* .text2{
    font-size: 200000px;
  } */
}